
.idea/.idea._kata.dir/.idea/contentModel.xml
.idea/.idea._kata.dir/.idea/encodings.xml
.idea/.idea._kata.dir/.idea/indexLayout.xml
.idea/.idea._kata.dir/.idea/modules.xml
.idea/.idea._kata.dir/.idea/projectSettingsUpdater.xml
.idea/.idea._kata.dir/.idea/vcs.xml
.idea/.idea._kata.dir/.idea/workspace.xml
.idea/.idea._kata.dir/riderModule.iml
